body {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
header div {
    font-size: 50px;
}
.download {
    color:aquamarine;
    font-size: 16px;
}
div video {
    display: block;
    margin: 0 auto;
}
.guide-header {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}
.guide-subtext-grey{
    font-size: 21px;
    color:grey;
}
footer {
    text-align: right;
}